/* Page settings */
* {
  margin: 0;
  padding: 0;
}
html { 
  font-size: 100%;
  font-family: 'Exo', sans-serif;
  background: linear-gradient(rgba(0,0,0, 0.4), rgba(0,0,0,0.4)), url("tunnel.jpeg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: rgb(175, 170, 170)
}
html li, #submit_button {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
 }
 html p {
  margin: 1rem 10% 0 10%;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
}

/* -------- Format Favicon page -------- */
.favicon {
  position: absolute;
  top: 2%;
  right: 50%;
  height: 5rem;
  background: linear-gradient(rgba(0,0,0, 0.1), rgba(0,0,0,0.1));
}

 /* -------  Set up for mobile phones -----------*/
@media only screen and (max-width: 768px) {
html {
  background: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0,0.5)), url("tunnel.jpeg") no-repeat center center fixed; 
  background-size: cover;
  background-position: 50% top;
  background-attachment: fixed;
  font-size: 10px;
}
/* body {
  margin: 0 5% 0 5%;
} */
.nav {
    margin: 0.5%;
    line-height: 1rem;
    padding: 0.7rem;
    }
.title {
      margin-top: 15%;
      margin-left: 12%;
 }
.tsc_social_round_gray_32 {
    padding-bottom: 2rem;
  }
.mob-image, .laptop {
  height: 3rem;
  width: 3rem;
}
h2, li, p {
  margin: 0 10% 0 10%;
}
.activities img {
  margin-top: 0;
}
.favicon {
   height: 0rem;
}
.proj {
  padding-bottom: 1rem;
}
.touch {
  padding-bottom: 1rem;
}

/* Education and work experience section */
.work-experience, .education {
  margin-left: 5%;
}
.education {
  margin-bottom: 1rem;
}
.to-top {
  margin: 0 0 1rem 1rem;
  height: 3rem;
  width: 1rem;
}
}
@media only screen and (min-width: 768px) {
body {
  line-height: 2rem;
  height: auto;
  }
}

/* ----------Navigation Bar Section----------------- */  
nav {
    margin: 1%;
    top: 0;
    margin-left: 50%;
    display: flex;
    padding: 1rem;
    }
nav .nav-link {
      line-height: 1rem;
      font-size: 0.8rem;
      padding-right: 1rem;
      margin: 0 0.5rem 0 0.5rem;
      text-decoration: none;
      transition: color 0.25s;
      color: rgb(221, 209, 209);
      font-weight: bold;
      font-family: 'Lato', sans-serif;
      align-self: right;
    }
.nav-pipe {
      border-right: rgb(154, 155, 152) 1px solid;
  }
.nav-link:hover{
    font-weight: bold;
  }

/* -------------Presentation animation------------- */
.title {
    font-family: 'Raleway', sans-serif;
    margin-top: 10%;
    margin-left: 20%;
    animation: move 3s;
  -webkit-animation: move 3s;
 }
@keyframes move {
    from {
      margin-left: 100%;
      width: 300%; 
    }
    to {
      margin-left: 20%;
      width: 100%;
    }
  }
@-webkit-keyframes move {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 20%;
      width: 100%;
    }
  }

/*------- About me Section -------------*/
.arrow-bottom{
    margin-left: 50%;
    position: relative;
    top: 2rem;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1rem 1rem 0 1rem;
    border-color: #050505 transparent transparent transparent;
    margin-bottom: 0;
  }
.title-about-me {
  text-align: center;
  margin: 2.0rem;
  font-size: 2.5rem;
 }
 .activities {
  text-align: center
}
.activities img {
  padding: 1.5rem;
  height: 3.5rem;
  margin-top: rem;
 }

/* -------- Education and Work Section ----------- */
/* Adding some style to my Education and Work title */
.title-edu-and-work {
  font-size: 2.5rem;
  margin: 2rem;
  text-align: center;
  }
.edu {
  margin-bottom: 4%;
}

/* Placing Education and Work experience next to each other */
@media only screen and (min-width: 768px) {
  /* only for screens wider or equal to 768 pixels */
.education {
  margin-left: 15%;
  float: left;
  width: 40%;
  }
.work-experience {
  float: right;
  width:45%;
  }

/* Centering titles */
.education h2{
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  }
.work-experience h2{
  font-size: 2rem;
  margin-bottom: 2rem;
   }
  }
  /* Adding animation to my education and experience section */
@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }
.animation { 
    width: 80%;
    margin-top: 2%;
    margin-bottom: 0%;
    /* overflow: hidden; */
    -webkit-animation: typing 2s steps(21, end),
               blink-caret .5s step-end infinite alternate;
}
.education .animation{
  /* margin-left: 30%; */
}
.work-experience .animation{
  margin-right: 30%;
}
.work-experience p {
  text-align: center;
  font-size: 1.5rem;
  }

/* ----------- My expertise Section -------- */
@media only screen and (min-width: 768px) {
  /* only for screens wider or equal to 768 pixels */
.div-expertise {
    clear: both;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }
.arr-expertise {              /*Centering the arrow*/
    clear:both;
    margin-bottom: 4%;
  }
}
  #title-my-expertise {
    font-size: 2.5rem;
    margin: 2rem;
    clear: both;
    text-align: center;
  }
.front-end, .back-end {
    margin-top: 0px;
    font-size: 1.5em;
    text-align: center;
  }
.title-front-end, .title-back-end {
  font-size: 2rem;
  margin-bottom: 1rem;
  }
.ruby-icon { 
  margin: 1rem;         /* Format icons */
  height: 7rem;
  display: block;
  transition: all 0.5s;
  }
.rails-icon {
  margin: 1rem;
  height: 7rem;
  display: block;
  transition: all 0.5s;
  }
.html-icon, .css-icon { 
  height: 7rem;
  width: 8rem;
  margin: 1rem;         /* Format icons */
  display: block;
  transition: all 0.5s;
  }
.html-icon:hover, .css-icon:hover{             /* Some animations */
  transform: rotate(360deg) scale(1.2);
  }
.rails-icon:hover, .ruby-icon:hover{
  transform: skew(30deg, 20deg);
  }
/* Format for mobile devices */
@media only screen and (max-width: 768px) {
  .ruby-icon, .rails-icon, .html-icon, .css-icon {
    height: 2rem;
    width: 2rem;
    text-align: center;
    padding-left: 45%;
  }
}
.fe-list, .be-list{ 
    list-style: none;
  }

/* --------- My Projects Section ----------- */
/* Placing Ruby and On rails projects next to each other */
@media only screen and (min-width: 768px) {
  /* only for screens wider or equal to 630 pixels */
  .my-projects {
    clear: both;
    display: flex;
    }
}
.proj {              /*Centering the arrow*/
    clear:both;
    margin-bottom: 4%;
    }
#title-my-projects {
    font-size: 2.5rem;
    clear: both;
    text-align: center;
    }
.ruby, .on-rails {
    margin-top: 0px;
    font-size: 1.5rem;
    text-align: center;
    }
.title-ruby, .title-on-rails {
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
    }
.paragraph {
     font-size: 1.5rem;
    }
.p-ruby, .p-rails {
  text-align: left;
}
/* Resizing images */
  @media only screen and (min-width: 768px) {
.laptop, .mob-image{
     height: 7rem;
     }
  }
/* Add a shaking animation to images */
.laptop:hover, .mob-image:hover {
      animation: shake 0.5s; 
      /* When the animation is finished, start again */
      animation-iteration-count: infinite; 
  }
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

/* --------  Contact me Section ------------- */
#get-in-touch{
    clear: both;
  }
.touch {              /*Centering the arrow*/
    clear:both;
    margin-bottom: 4%;
    /* margin-left: 48%;
    margin-right: 48%; */
  }
.title-get-in-touch {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    text-align: center;
  }
#get-in-touch p {
  font-size: 1.2rem;
  text-align: center;
  }
/* Add contact form */
form {
  margin-top: 2rem;
  text-align: center;
  line-height: 2rem;
  }
.required {
  font-size: 1.2rem;
  }
#name, #email, #message {
  width: 40%;
  line-height: 2rem;
  font-size: 1.2rem;
  background-color: rgb(133, 140, 146)
  }
#submit_button {
  width: 10rem;
  background-color: rgb(175, 170, 170);
  font-weight: 500;
  color: #000;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.9);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

/* --------- Contact me social media and github icons section ---- */
#link-icons {
  text-align: right;
  height: 2rem;
  margin: 2rem 0 2rem 0;
  }
.linkedin_round_gray_32 {
  background: url(https://www.dreamtemplate.com/dreamcodes/social_icons/linkedin-focused.png) no-repeat;
  background-size: 50%;
  }
.tsc_social_round_gray_32 {
  display: inline-block;
  text-indent: -999em;
  height: 3rem;
  width: 5rem;
  text-decoration: none;
  vertical-align: middle;
  }
.github_round_gray_32 {
  background: url('github.png') no-repeat;
  background-size: 2.3rem 2.3rem;
  border: none;
  border-radius: 0.5rem;
  }
  @media only screen and (max-width: 768px) {
  .github_round_gray_32 {
  background-size: 2.4rem;
      }
  }
/* line divider */
hr {
  margin-left: 15%;
  margin-top: 3rem;
  text-align: center;
  width: 70%;
  border-color: gray;
}
/* Back to top link */
/* Format the back to top link */
.to-top {
    position: fixed;
    bottom: 2rem;
    font-size: 1rem;
    text-decoration: none;
    color: rgb(175, 177, 155);
  }
.to-top:hover {
    color: red;
    font-weight: bold;
  }
